  <div class="jumbotron">
<div class="jumbotron">
  <md-datepicker ng-model="main.myDate" md-placeholder="Enter date"></md-datepicker>
  <button ng-click="main.showDate()">Show Picked Date</button>
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/doctors1.ico" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>


  <input ng-model="user.title">

  <md-button class="md-primary md-raised demo-dialog-open-button"
             ng-click="ctrl.showDialog($event)">Search
  </md-button>

  <p>Occupation:</p>

  <input type="checkbox" ng-checked="exists(item, selected)"
         ng-click="toggle(item, selected)"/> Deu

  <input type="checkbox" ng-checked="exists(item, selected)"
         ng-click="toggle(item, selected)"/> Psy

  <input type="checkbox" ng-checked="exists(item, selected)"
         ng-click="toggle(item, selected)"/> Phys

  <p></p>
  <p>Location Approximity:</p>
  <md-radio-group
    style="padding-left: 30px">
    <md-radio-button value="top">1k</md-radio-button>
    <md-radio-button value="right">2k</md-radio-button>
    <md-radio-button value="bottom">3k</md-radio-button>
    <md-radio-button value="left">4k</md-radio-button>
  </md-radio-group>

</div>
