<div style="position: absolute; z-index: 200; margin-top: 60px; margin-left: 20px" ng-show="main.showBarIcon">
  <div class="row" style="">
    <md-button ng-click="main.toggleLeft()" class="md-raised">
      <span class="fa fa-bars" style=""></span>
    </md-button>
  </div>
</div>

<div style="">
  <section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <div class="row">
          <div class="col-md-7" style = "margin: 10px 0px 0px 0px;">
          Doctor Finder
          </div>
          <div class="col-md-5">
            <md-button ng-click="main.toggleLeft()" class="md-active">
              <span class="fa fa-times"></span>
            </md-button>
          </div>
        </div>
      </md-toolbar>

      <!--Side Nav Content-->
      <md-content layout-margin>

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Search by</span>
            </md-card-title-text>
          </md-card-title>


          <md-card-content>
            <div layout="row">
              <md-input-container>
                <label>City</label>
                <input ng-model="main.city">
              </md-input-container>

              <md-input-container>
                <label>Zipcode</label>
                <input ng-model="main.zipcode">
              </md-input-container>

              <md-input-container>
                <label>Specialization</label>
                <input ng-model="main.specialization">
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>

        <div style="margin-top: 30px;">
          <md-input-container class="md-block" flex-gt-sm style="padding-top: 30px">
            <label>Search Doctor</label>
            <input ng-model="main.name">
          </md-input-container>
        </div>

        <md-button ng-click="main.onSubmit()" class="md-raised md-primary">Submit</md-button>
      </md-content>

    </md-sidenav>

  </section>
</div>

